.marker {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow:
        0px 2px 8px 0px rgba(0, 15, 71, 0.25),
        0px 0px 4px 0px rgba(0, 15, 71, 0.08);
    cursor: pointer;
}

.marker:hover::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    background-size: contain;
    background-image: url('./../assets/icons/markerHover.svg');
    animation: increase .3s ease-in-out;
    pointer-events: none;
}

@keyframes increase {
    0% {
        width: 48px;
        height: 48px;
    }
    100% {
        width: 96px;
        height: 96px;
    }
}

.enabled {
    background: linear-gradient(90deg, #0038FD 0%, #0084FF 100%);
}
.disabled {
    background: #b5b5b5;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 40px;
    height: 40px;
    border-radius: 24px;

    color: #fff;
    background-color: #0A2896;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
